html {
  scroll-behavior: smooth;
  height: 100%;
}
body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
section{
  position: relative;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* element / class */
.fixed_background{
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/* home_section */
.home{
  background-image: url('./src/image/good_vibe.jpg');
}
.home_picture{
  max-height: 500px;
  max-width: 600px;
  filter: drop-shadow(-6px 6px 8px rgba(0, 0, 0, 0.3));
}
.home_slogan{
  font-size: 20px;
  color: #fff;
}

/* menu_section */
.menu{
  padding: 90px 0 50px;
}
.menu_topic{
  font-family: 'Kalam','Noto Sans TC';
  position: absolute;
  top: 15px;
  /* font-size: calc(37.5vh - 210px); */
  font-size: 60px;
  color: #FFB94E;
}
@media (min-height: 800px){
  .menu{
    padding: 100px 0 60px;
  }
  .menu_topic{
    font-size: 75px;
  }
}

/* intro_section */
.intro{
  /* height: 60vh; */
  background-color: #eee;
}
.intro_content{
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
  box-sizing: content-box;
}
.intro_picture{
  width: 50%;
}
.intro_picture img{
  width: 100%;
}
.intro_detail{
  width: 50%;
  padding-left: 40px;
}
.intro_detail__title{
  text-align: center;
}
.intro_detail__content{
  margin-top: 15px;
  font-size: 18px;
}
.intro_detail__content span{
  font-weight: 700;
}
@media (max-width: 767px){
  .intro_content{
    padding: 60px 20px;
  }
  .intro_picture, .intro_detail{
    width: 100%;
  }
  .intro_detail{
    padding-left: 0px;
    margin-top: 20px;
  }
}

/* video_section */
.video{
  background-image: url('./src/image/desk.jpg');
  padding: 100px 0;
}
.video_topic{
  font-size: 60px;
  font-family: 'Kalam';
  text-align: center;
  /* color: #FFB94E; */
}
.video_source{
  font-family: 'Kalam';
  text-align: center;
  margin-bottom: 20px;
}


/* footer */
footer{
  font-family: 'Kalam';
  background-color: #fff;
  padding: 15px 0;
}
footer .container{
  height: 100%;
  text-align: center;
}
.icon_item{
  font-size: 18px;
}
.icon_wrapper img{
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: #FFB94E;
  text-decoration: none;
}
.copyright{
  margin-top:10px;
  margin-bottom: 0;
}

/* Swiper */
.swiper-container {
  width: 100%;
  margin: 0 20px;
  height: 440px;
  max-width: 1200px;
}
.swiper-slide {
  width: 270px;
  text-align: center;
  height: 410px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFB94E;
}
.swiper-slide img{
  width: 270px;
  height: 360px;
}
.swiper-slide p{
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
}

/* Bootstrap */
.bg-transparent{
  /* background-color: #00000030!important; */
  background: linear-gradient(#00000080, #00000005);
}
.nav-link{
  cursor: pointer;
  font-size: 20px;
  color: rgba(255,255,255,0.9);
}