html {
  scroll-behavior: smooth;
  height: 100%;
}
body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
section{
  position: relative;
  min-width: 100vw;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* element / class */
.fixed_background{
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.home{
  background-image: url('./src/image/good_vibe.jpg');
}
.home_picture{
  max-height: 500px;
  max-width: 600px;
  filter: drop-shadow(-6px 6px 8px rgba(0, 0, 0, 0.3));
}
.home_slogan{
  font-size: 20px;
  color: #fff;
}

.menu{
  /* height: 75vh; */
  padding: 100px 0;
}
.menu::after{
  /* width: 150px;
  height: 60px; */
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: 4vh solid #5FAD56;
  border-left: 4vh solid #F2C14E;
  content:"";
}
.menu::before{
  /* width: 150px;
  height: 60px; */
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-bottom: 4vh solid #5FAD56;
  border-right: 4vh solid #F2C14E;
  content:"";
}
.menu_topic{
  font-family: 'Kalam','Noto Sans TC';
  position: absolute;
  top: 15px;
  font-size: calc(37.5vh - 210px);
  color: #FFB94E;
}
@media (min-height: 800px){
  .menu_topic{
    font-size: 75px;
  }
}

.intro{
  background-image: url('./src/image/desk.jpg');
}


.swiper-container {
  width: 100%;
  margin: 0 20px;
  height: 360px;
  max-width: 1200px;
}
.swiper-slide{
  width: 270px;
}


/* Bootstrap */
.bg-transparent{
  /* background-color: #00000030!important; */
  background: linear-gradient(#00000080, #00000005);
}
.nav-link{
  cursor: pointer;
  font-size: 20px;
  color: rgba(255,255,255,0.9);
}